#movieNav{
	position: relative;
	background-color: #f0f3f5;
}
#movieNav .nav-primary{
	width: 1040px;
	margin:0 auto;
	position: relative;
	padding: 10px 0 5px;
}
#movieNav .nav-primary h1{
	font-size: 32px;
 }
#movieNav .nav-primary a:hover{
	text-decoration: none;
}
.nav-search{
	margin-top: 20px;
    margin-bottom: 10px;
}
.nav-search .form-group{
	float: left;
}
.nav-search button{
	float: left;
}
.form-group input{
	width: 300px;
}
.nav-login-and-register{
	margin-top: 20px;
    margin-bottom: 10px;
}

.categories h1{
	padding-left: 9px;
	font-size: 26px;
	font-weight: bold;
	color: #494949;
	line-height: 1.1;
}
.categories .category-list a{
	display: inline-block;
	zoom:1;
	cursor: pointer;
	padding: 1px 10px;
	margin: 0 3px 5px 0;
	color: #666;
	font-size: 16px;
	border-radius: 2px;
	font-family: Tahoma;
	vertical-align: middle;
}
.categories .category-list a:visited{
	background: #f0f3f5;
	color: #666;
	text-decoration: none;
}
.categories .category-list a:visited,
.categories .category-list a:hover,
.categories .category-list a:focus{
	background: #f0f3f5;
	color: #666;
	text-decoration: none;
}
.categories .category-list a:active{
	background: #4b8ccb;
	color: #ffffff;
}
.list-active{
	background: #4b8ccb;
	color: #ffffff;
}

#movieBody{
	width: 1040px;
	margin:0 auto;
	position: relative;
	padding: 10px 0 5px;
}
#moviesRow{
	margin: 40px auto;
	width: auto;
	height: auto;
	border: 1px solid #ddd;
}
.movie-box{
	text-align: center;
	margin: 0 10px;
	width: 150px;
	list-style-type: none;
	float: left;
	height: 100%;
}
.movie-image img{
	margin-top: 10px;
	width: 128px;
	height: 190px;
}
.movie-title{
	text-align: center;
}
.movie-rating{
	font-size: 14px;
	color: #E9967A;
}
